@charset "utf-8";
/* CSS Document */
*,*::before,*::after {
    box-sizing: border-box;
}
a {
	text-decoration: none;
}
.header-logo {
	width: 181px;
    height: 45px;
	margin-top: 32px;
}
.header-nav {
	display: flex;
	position: relative;
    font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    text-align: center;
    letter-spacing: 1px;
	margin-top: 40px;
	padding-right: 4px;
	position: relative;
}
.header-nav li {
	margin-right: 24px;
}
.header-nav li a {
	color: #B3303C;
}
.header-nav li span {
	font-family: "Noto Serif", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
    font-style: italic;
}
.wrapper {
	display: flex;
    justify-content: space-between;
    max-width: 1130px;
    margin: 0 auto 20px;
}
.header-nav .open {
	position: absolute;
    top: -24px;
    left: 386px;
}
/*----------------------main------------------------------*/
main {
	text-align: center;
}
.bg {
	background: url(../image/cover_1.jpg) center/cover;
	height: 600px;
	border-bottom: 12px solid #B3303C;
	position: relative;
}
.bg-img {
	position: absolute;
	top: 70px;
	left: 4%;
}
.menu {
	padding: 12px 0;
	position: relative;
}
.menu h2, .info h2 {
	padding-bottom: 12px;
    margin: 20px 0 12px;
    font-size: 28px;
    font-family: "Noto Serif", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
    font-weight: normal;
    font-style: italic;
    color: #B3303C;
}
.menu .menu-header {
	background: url(http://chocolat-chic.com/img/line_red_24px.gif) no-repeat center bottom;
	width: 100%;
}
.menu p, .info p {
	font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
    font-size: 14px;
    letter-spacing: 1px;
}
.menu .buttons {
	margin: 86px 0 58px;
}
.button {
	display: inline-block;
	width: 150px;
	padding: 10px;
	border-radius: 30px;
	background-color: #B3303C;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 13px;
	margin: 0 6px;
}
.hr-line {
	background: url(http://chocolat-chic.com/img/circle_red.svg) repeat-x;
    margin: 0 28px;
    height: 2px;
}
.info .info-header {
	background: url(http://chocolat-chic.com/img/line_red_24px.gif) no-repeat center bottom;
	width: 100%;
}
.info {
	margin-bottom: 50px;
}
.info .gr {
	position: relative;
	font-family: "游ゴシック";
}
.info .date {
	position: absolute;
    top: -24px;
    left: 22%;
}
.info h3.strong {
	margin: 70px 0 70px 33%;
    text-align: left;
    font-size: 20px;
}

.line {
    border-color: #ddd;
    max-width: 776px;
    margin: 0 0 50px 22%;
}
.gr h3 {
    font-size: 16px;
    margin: 7px 0 0 33%;
    text-align: left;
}
.gr p {
    font-family: "游ゴシック";
    text-align: left;
    margin: 0 0 0 22%;
}
.gr p span {
	margin-left: -180px;
}
.date {
	color: #B3303C;
}
.para {
	margin-left: 14.1%;
    padding: 30px 0;
    line-height: 2;
}
.para .aj {
	max-width: 650px;
}
.gr strong {
	font-weight: bolder;
    margin: 0 20% 114px 33%;
    display: block;
    text-align: left;
}
.mb {
	margin-bottom: 90px;	
}
.hidden {
	visibility: hidden;
}
/*-------------footer---------------*/
.footer-nav-wrapper {
	display: flex;
	list-style: none;
}
.footer-nav-wrapper li:nth-child(1) {
	margin-right: 14px;
}
.footer {
	padding: 20px 15px;
    margin: 0 auto;
    background-color: #f4f4f4; 
}
.footer a {
	color: #999;
	font-family: YuGothic, 'Yu Gothic medium', 'Hiragino Sans', Meiryo, 'sans-serif';
	font-size: 12px;
}
.footer-info {
	margin: 40px 0 10px;
	font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    color: #666;
}
.cr {
	font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    color: #666;
}
